
* {
    margin: 0;
    padding: 0;
}

h2 {
    color: red;
    font-size: 50px;
}

header {
    background-color: green;
    border-radius: 10px;
}

.titulo-body{
    color: blue
}

#titulo-section{
    color: green
}